.logobox {
    background-color: rgba(216, 198, 166, 0.589);
    display: list-item;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    flex-basis: 28%;
    text-align: center;
    background-color: #debb9d;
    margin: 10px 5px 5px 5px;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    &:hover {
        background-color: rgb(138, 128, 128);
        font-size: 20px;
      }
}

.size {
    display:block;
    margin:auto;
    width: 180px;
}