<div class="form">
    <h1>Registra tu pedido aqui!!</h1>
<form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
<label>Nombre:</label>
<input formControlName="nombre" type="text"/>
<br>
<label>Apellido:</label>
<input formControlName="apellido" type="text"/>
<br>
<label>Email:</label>
<input formControlName="email" type="text"/>
<br>
<label>Indiquenos su pedido:</label>
<input formControlName="pedido" type="text"/>
<br>
<button [disabled]="signupForm.invalid" type="submit">Registrar</button>
<img class="imgabsolute" src="https://1000marcas.net/wp-content/uploads/2019/12/Shell-Logo.png">
</form></div>
