.goalsbox {
    text-align: center;
    background-image: url(https://www.shell.es/sustainability/environment/_jcr_content/par/pageHeader/image.img.960.jpeg/1474409462545/marsb.jpeg?imformat=chrome&imwidth=1280);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 3%;
    margin-left: 5%;
    border: 5px black solid;
}

.goalsboxtwo {
    color: rgb(6, 15, 19);
    margin-top: 3%;
    letter-spacing: 1px;
}